[submodule "puppet_installation/modules/puppet-jboss_as"]
	path = puppet_installation/modules/puppet-jboss_as
	url = https://github.com/luan-cestari/puppet-jboss_as.git
[submodule "puppet_installation/modules/puppetlabs-java"]
	path = puppet_installation/modules/puppetlabs-java
	url = https://github.com/luan-cestari/puppetlabs-java.git
[submodule "puppet_installation/modules/puppet-maven"]
	path = puppet_installation/modules/maven
	url = https://github.com/luan-cestari/puppet-maven.git
[submodule "puppet_installation/modules/puppetlabs-mongodb"]
	path = puppet_installation/modules/puppetlabs-mongodb
	url = https://github.com/luan-cestari/puppetlabs-mongodb.git
