pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
*~
target
MANIFEST.MF
bin
.openshift
*/.gitignore
.gitkeep
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings
.metadata
bin
.nbattrs
*.log
*.swp
target/*
logs
www/www-app/*/src/main/webapp/gwt
www/*/src/main/webapp/gwt
*cache.htm
*cache.html
*cache.xml
*.swp
.classpath
.settings
.project
.idea
.wtpmodules
.wtpmodules
.*.jsfdia
*.iml
*.ipr
*.iws
.rpminfo
.rpminfo/*
*~
*.log
*.log.*
mf.pom.xml
.idea
bin
bin/*
*.bak
nb-configuration.xml
