atlassian-ide-plugin.xml
*.bak
bin/*
*cache.htm
*cache.html
*cache.xml
*/.gitignore
.gitkeep
.*.jsfdia
*.log.*
logs
MANIFEST.MF
.metadata
mf.pom.xml
.nbattrs
nb-configuration.xml
.openshift
out
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
.rpminfo
.rpminfo/*
target
target/*
www/*/src/main/webapp/gwt
www/www-app/*/src/main/webapp/gwt
.idea
*~
